In [27]:
#import dependencies 
%matplotlib inline
import matplotlib.pyplot as plt
from sklearn import tree
import pandas as pd
import numpy as np
import os

In [38]:
# read data
fires_df = pd.read_csv("data/forestfires.csv")
fires_df.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [39]:
Xdata = fires_df.copy()

data_binary_encoded = pd.get_dummies(Xdata)
data_binary_encoded.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,1,0,0,0,0,0,0
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,1,0,0,0,0,0,0,1,0
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,1,0,0,0,1,0,0,0,0
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,1,0,0,0,0,0,0
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,0,1,0,0,0

In [40]:
X = data_binary_encoded.drop(columns=["area"])
y = fires_df["area"].values.reshape(-1,1)
print(X.shape, y.shape)

(517, 29) (517, 1)

In [41]:
data = data_binary_encoded.drop(columns=["area"], axis=1)
feature_names = data.columns
data.head()

,X,Y,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,month_nov,month_oct,month_sep,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,7,5,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,...,0,0,0,1,0,0,0,0,0,0
1,7,4,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,...,0,1,0,0,0,0,0,0,1,0
2,7,4,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,...,0,1,0,0,0,1,0,0,0,0
3,8,6,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,...,0,0,0,1,0,0,0,0,0,0
4,8,6,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,...,0,0,0,0,0,0,1,0,0,0

In [42]:
fires_df.area = fires_df.area.astype(int)

In [43]:
#We have to set a Target Value and Set all independent variables as the "data"
target = fires_df["area"]
target.head()

0    0
1    0
2    0
3    0
4    0
Name: area, dtype: int64

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [45]:
#decison tree classifer issue: target NEEDS to be in INT and not Float 
#Decision Tree Classifer
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.3153846153846154

In [48]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.47692307692307695

In [49]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.1275537561089431, 'temp'),
 (0.10920568008564055, 'RH'),
 (0.09503404769264329, 'wind'),
 (0.09174940320420784, 'DC'),
 (0.09064586379207189, 'DMC'),
 (0.08522236805092843, 'X'),
 (0.0810513577826991, 'FFMC'),
 (0.07959756614901549, 'ISI'),
 (0.06240179883026648, 'Y'),
 (0.016949315784733347, 'day_mon'),
 (0.016190688152264602, 'day_fri'),
 (0.015955866470493716, 'day_wed'),
 (0.015508561077122491, 'day_sun'),
 (0.015105372698430632, 'day_sat'),
 (0.014654066935656684, 'day_tue'),
 (0.01375738751680952, 'day_thu'),
 (0.013626877298294843, 'month_sep'),
 (0.013525077624794888, 'month_aug'),
 (0.009105898966050015, 'month_jul'),
 (0.006859818880889626, 'month_dec'),
 (0.0067814134583677405, 'month_mar'),
 (0.004910434319057587, 'month_jun'),
 (0.0034422726755968013, 'month_oct'),
 (0.0032878527855182338, 'month_may'),
 (0.0029717224036974075, 'month_feb'),
 (0.002727737456935876, 'rain'),
 (0.0021245697307323676, 'month_apr'),
 (3.9275566978641566e-05, 'month_nov'),
 (1.3948501158942525e-05, 'month_jan')]